@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Gochi+Hand|Handlee|Neucha|Patrick+Hand|Shadows+Into+Light+Two|Comfortaa|Montserrat:400,700|Muli|Nunito|Quicksand|Raleway:400,700|Spartan:400,700&display=swap');
$dark-green: #30818d;
$option: #1F2041;
$option2: #FFC857;
$yellow: #fff952;
$navbar: #113136;
$sample: #2A9D8F;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', ; 
}

//? HOME
div .hero-body {
  background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583329424/ROAM/Untitled_design_28_tr0eid.png');
  // background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583078726/ROAM/ROAM_1_xgodiv.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 94vh;
}

//? LOGIN
.login-hero {
  background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583329589/ROAM/Untitled_design_29_xsiqvd.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    width: 600px;
    height: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 60px;
    box-shadow: 0 0 40px #000;
    color: white;
    // background-color: $navbar;
  
    h2.title {
      margin-bottom: 60px;
    }
  
    input.input {
      margin: 10px 0;
    }
  
    button.button {
      margin-top: 20px;
      background-color: $yellow;
      border: none;
    }
  }
}

//? REGISTER
.register-hero {
  background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583251276/ROAM/Untitled_design_12_df0ygg.png');
  // background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583254837/ROAM/Untitled_design_13_hs5li0.png')
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-wrapper {
  height: 100%;
  width: 100%;
  min-height: 94vh;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.register-container {
  height: 85vh;
  margin: 0;
  box-shadow: 0 0 40px #000;
  border-radius: 5px;

  div.column {
    height: 100%;
    margin: 0;
    padding: 0;

    img {
      height: 100%;
    }

    .register-form {
      background-color: white;
      // width:
      margin: 0 40px;
      padding: 40px;
      height: 100%;

      .pin-button {
        display: none;
      }

      .image-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        // background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583253554/ROAM/output-onlinepngtools_2_acf2kc.png');
        background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583271838/ROAM/output-onlinepngtools_5_mwvqik.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
      
        .register-image {
          opacity: 0;
        }
      }

      .reg-title {
        font-size: 34px;
        font-weight: bold;
        color: $navbar;
        margin-bottom: 20px;
      }

      button.button {
        background-color: $navbar;
        color: white;
        margin-top: 30px;
        height: 45px;
      }
    }
  }
}

//? NAVBAR
nav.navbar, div.navbar-menu {
  // background-color: #fff952;
  // background-color: #30818d;
  background-color: $navbar;

  h1 {
    font-family: 'Handlee', cursive;
    font-size: 30px;
    font-weight: bold;
  }
}

h2.trip-header {
  margin-top: 50px;
}

div.box {
  background-color: $navbar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 0 40px #000;
  margin: 20px;

  .media {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    
    
    img {
      height: 200px;
    }
  }
}

div.boxes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  
}

.board-photo {
  height: 200px;
  border: 2px solid white;
}

.photo-wrapper {
  height: 200px;
  display: flex;
  justify-content: flex-end;
  margin: 8px;

  .board-photo {
    height: 200px;
    margin: 0;
    
  }

  .photo-button {
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: none;
    position: absolute;
    background-color: $navbar;
    color: white;
    border: 2px solid white;
    // margin-top: 10px;
  }
}


.task-button {
  font-size: 20px;
  background: none;
}

.task-form {
  display: flex;
  // border: 2px solid $primary;
  width: 50%;
  // border-radius: 10px;
  margin-bottom: 30px;
  // padding: 2px;

  input {
    border: none;
    background-color: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  button {
    background-color: $navbar;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    // border-left: 1px solid $primary;
  }
}

.task-container {
  display: flex;
}

//? MAP
.mapboxgl-ctrl-group {
  width: 30px;
  margin: 10px 0 0 10px;
}

//? PROFILE
div.profile-hero {
  // background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583269402/ROAM/Untitled_design_16_qy6tbs.png');
  background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583269926/ROAM/Untitled_design_17_b0da0o.png');
  // background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583269926/ROAM/Untitled_design_18_jq6j5d.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .profile-wrapper {
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 40px #000;
    border-radius: 20px;
    
  }
}

.profile-container {
  background-color: $navbar;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 70%;
  color: white;
  align-items: center; 
  padding: 40px 0;    
  
  .pin-button {
    display: none;
  }

  .image-container {
    display: flex;
    align-items: center;
    margin: 10px;
    background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583275001/ROAM/output-onlinepngtools_6_ggqo6j.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    
    .profile-image {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      border: 4px solid white;
      margin: 10px;
      opacity: 0;
    }
  }

  .field-name {
    margin-top: 20px;
    width: 70%;
  }

  .field-email {
    margin-bottom: 26px;
    margin-top: 10px;
    width: 70%;
  }

  .profile-image {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 4px solid white;
    margin: 10px;
    // opacity: 0;
  }
  
  h2 {
    font-size: 40px;
    font-weight: bold;
  }

  p {
    font-size: 26px;
  }
}

.profile-buttons {
  background-color: white;
  height: 30%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  
  .button {
    width: 50%;
    margin: 10px;
  }

  .edit {
    background-color: $yellow;
    border: none;
    height: 45px;
  }

  .delete-account {
    background-color: black;
    color: white;
    height: 45px;
    border: none;
  }
}

#root > div.hero.profile-hero > div > form > div.profile-container > div.image-container > div > img {
  height: 270px;
  width: 270px;
  border-radius: 100%;
  border: 4px solid white;
  margin-bottom: 10px;
  margin-top: 0
}

//? TRIP NEW
div.add-hero {
  // background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583269402/ROAM/Untitled_design_16_qy6tbs.png');
  background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583269926/ROAM/Untitled_design_17_b0da0o.png');
  // background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583269926/ROAM/Untitled_design_18_jq6j5d.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .add-wrapper {
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 40px #000;
    border-radius: 20px;

    .add-container {
      background-color: $navbar;
      display: flex;
      flex-direction: column;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 70%;
      color: white;
      align-items: center; 
      padding: 40px 0; 
      
      small {
        margin-bottom: 30px;
      }

      h2 {
        color: white;
        margin: 30px 0;
      }

      .label {
        color: white;
        font-size: 18px;
      }

      .field-dest {
        margin: 20px 0;
        width: 70%;
      }
    
      .field-date {
        display: flex;
        margin-top: 20px;
        margin-bottom: 48px;
        width: 70%;
        justify-content: space-between;

        .control {
          width: 48%;
        }
      }
    }

    .add-buttons {
      background-color: white;
      height: 30%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px;
    
      .edit {
        background-color: $yellow;
        border: none;
        height: 45px;
        width: 50%;
        margin: 10px;
      }
    }
    
  }
}

//? OPEN SHOW

div .show-hero {
  background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583286518/ROAM/Untitled_design_25_umgyqf.png');
  background-size: contain;
  background-repeat: repeat-y;
  min-height: 94vh;

  .show-container {
    display: flex;
    flex-direction: column;

    .button-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 20px 20px 0 20px;

      // form {
      //   width: 50%;
      // }

        .open-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          // width: 50%;

          .button-open {
            width: 100px;
            height: 100px;
            // background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583322182/ROAM/output-onlinepngtools_10_qljuqe.png');
            // background-size: contain;
            // background-repeat: no-repeat;
            // background-position: center;
            background-color: $navbar;
            padding: 10px;
            margin: 10px 20px 0 20px;
            border: none;
            border-radius: 10px;

            img {
              height: 50px;
            }

            p {
              color: white;
              font-size: 14px;
              margin-top: 5px;
            }
          }
  
          .button-close {
            width: 100px;
            height: 100px;
            // background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583322182/ROAM/output-onlinepngtools_10_copy_qawmqh.png');
            // background-size: contain;
            // background-repeat: no-repeat;
            // background-position: center;
            padding: 10px;
            background-color: $navbar;
            margin: 10px 20px 0 20px;
            border: none;
            border-radius: 10px;

            img {
              height: 50px;
            }

            p {
              color: white;
              font-size: 14px;
              margin-top: 5px;
            }
          }
        }

        .button-share {
        width: 100px;
        height: 100px;
        background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583287375/ROAM/output-onlinepngtools_7_npqncx.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $navbar;
        margin: 10px 20px 0 20px;
        border: none;
        border-radius: 10px;
        }

        .button-join {
        width: 100px;
        height: 100px;
        background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583287375/ROAM/output-onlinepngtools_7_npqncx.png');
        background-size: contain;
        background-color: $navbar;
        margin: 10px 20px 0 20px;
        border: none;
        border-radius: 10px;
       
      }

        small {
          color: $navbar;
          margin-right: 25px;
        }
    } 

    .title-wrapper {
      display: flex;
      justify-content: center;
      

      h2 {
        font-family: 'Handlee', cursive;
        font-weight: bold;
        font-size: 80px;
      }
    }

    div.columns {
      margin-top: 60px;

      div.column {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        div.todos {
          width: 600px;
          height: 600px;
          background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583282039/ROAM/purepng.com-yellow-sticky-ntessticky-notesclipartyellowpinnedtaped-1421526499990wjewz_vximqs.png');
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          
          

          ul {
            list-style-type: "☐     ";
            margin-bottom: 80px;

            .todo-header {
              font-size: 26px;
              font-weight: bold;
              margin-bottom: 30px;
              font-family: 'Handlee', cursive;
    
            }

            li {
              font-size: 20px;
              margin-top: 5px;
              font-family: 'Handlee', cursive;
            }


          }
          
        }

      }

      

      // div.column div {
      //   background-color: $navbar;
      //   margin: 10px;
      // }
    }

    h2 {
      font-size: 70px;
      color: $navbar;
    }

    h3 {
      font-size: 30px;
      text-align: center;
      color: $navbar
    }

    .show-edit-dates {
      display: flex;
      justify-content: center;
    
      h3 {
        font-size: 30px;
        text-align: center;
        color: $navbar
      }
    
      .date-button {
        font-size: 30px;
        text-align: center;
        background-color: $navbar;
        color: white;
        border: none;
        height: 40px;
        width: 40px;
        margin-left: 10px;
      }
    }


    .show-links {
      // display: flex;
      // align-items: center;
      width: 85%;
      background-color: $navbar;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      box-shadow: 0 0 40px $navbar;

      // .microlink {
      //   display: flex;
  
      // }

      .link-form {
        display: flex;
        // border: 2px solid $primary;
        width: 87%;
        // border-radius: 10px;
        margin-bottom: 30px;
        // padding: 2px;
        
        

        input {
          border: none;
          background-color: none;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      
        button {
          background-color: $navbar;
          color: white;
          border: none;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          // border-left: 1px solid $primary;
          border: 2px solid white;
          width: 75px;
        
        }
      }

      .link-wrapper {
        display: flex;
        justify-content: flex-end;
        margin: 20px;
        width: 40%;

        .photo-button {
          height: 40px;
          width: 40px;
          font-size: 20px;
          background: none;
          position: absolute;
          background-color: $navbar;
          color: white;
          border: 2px solid white;
          // margin-top: 10px;
        }
      }

      .microlink_card {
        // margin: 10px;
        display: flex;
        flex-direction: column;
        height: 300px;
        border: 2px solid white;
        
      }
      
      .microlink_card__content {
        background-color: none;
        color: $navbar;
      
        header {
          font-size: 18px;
        }
      
        div:first-of-type {
          font-size: 12px;
        }
      }
    }

    .extras {
      display: flex;
      align-items: center;
      margin-top: 50px;
      width: 85%;
      background-color: $navbar;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 40px $navbar;

      .weather {
        
        width: 50%;
        height: 60%;
        color: white;
        
        h3 {
          font-size: 20px;
          margin-top: 20px;
        }

        p {
          font-size: 20px;
          text-align: center;
        }

        .main {
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: 40px;
            margin-right: 5px;
          }
          img {
            margin-right: 10px;
          }

        }
      }
    }

  }
}

.show-photos {
  display: flex;
  justify-content: center;
  width: 85%;
  background-color: $navbar;
  padding: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
  box-shadow: 0 0 40px $navbar;

  .image-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pin-button {
      background-color: $navbar;
      color: white;
      font-size: 30px;
      border: 2px solid white;
      padding: 10px;
      position: absolute;

    }
  }

  .image-container {
    display: flex;
    justify-content: center;
    // background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583253554/ROAM/output-onlinepngtools_2_acf2kc.png');
    background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583318350/ROAM/output-onlinepngtools_9_qutan6.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    margin-top: 26px;
    height: 150px;
  
    .profile-image {
      opacity: 0;
    }

  img {
    margin: 8px;
  }
}
}

//? MY SHOW

div.my-todos {
  width: 600px;
  height: 600px;
  background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583282039/ROAM/purepng.com-yellow-sticky-ntessticky-notesclipartyellowpinnedtaped-1421526499990wjewz_vximqs.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $navbar;

  .task-container {
    display: flex;
      justify-content: space-between;
  }

  

  ul {
    list-style-type: "☐     ";
    margin-bottom: 80px;

    .todo-header {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 30px;
      font-family: 'Handlee', cursive;
      

    }

    li {
      font-size: 20px;
      margin-top: 5px;
      font-family: 'Handlee', cursive;
    }

    .task-button {
      border: none;
      margin-left: 20px;
      font-size: 30px;
    }


  }
  
}

#root > div.hero.show-hero > div > div.columns.is-mobile.is-multiline > div:nth-child(1) > div.show-photos > form > div > div > div > img {
  height: 200px;
  margin: 0;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.share-form {
  display: flex;
  height: 60px;
  width: 400px;

  input {
    border: none;
    background-color: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 300px;
    font-size: 20px;
    padding-left: 10px;
  }

  button {
    background-color: $navbar;
    background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583323272/ROAM/output-onlinepngtools_11_ah3egb.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    // border-left: 1px solid $primary;
  }
}

.show-links-open {
  // display: flex;
  // align-items: center;
  width: 85%;
  background-color: $navbar;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 40px $navbar;

  .microlink_card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 2px solid white;
    width: 46%;
  }
  
  .microlink_card__content {
    background-color: none;
    color: $navbar;
  
    header {
      font-size: 18px;
    }
  
    div:first-of-type {
      font-size: 12px;
    }
  }
}

//? NOTIFICATIONS

.note-wrapper {
  height: 70vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 40px #000;
  border-radius: 20px;

  .note-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 100%;
    color: $navbar;
    align-items: center; 
    // padding: 40px 0; 

    h3 {
      margin-top: 30px;
      font-size: 20px;
      color: $navbar;
    }

    .wrapper {
      padding: 30px;
    }

    .note-wrap {
      display: flex;
      justify-content: space-between;
      // border-bottom: 2px solid $navbar;
      margin-bottom: 40px;
    }

    h2 {
      background-color: $navbar;
      width: 100%;
      height: 20%;
      color: white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      font-size: 36px;
      text-align: center;
      padding-top: 30px;
    }

    p {
      font-size: 16px;
      color: $navbar;
      width: 75%;
      // text-align: center;      
    }

    button {
      background-color: $yellow;
      width: 20%;
      // margin-left: 20px;
      color: $navbar;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      padding: 10px;
    }
  
    }
}

div .index-hero {
  background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583286518/ROAM/Untitled_design_25_umgyqf.png');
  background-size: contain;
  background-repeat: repeat-y;
  min-height: 94vh;

  .index-container {
    display: flex;
    flex-direction: column;
    padding: 0 160px;

  .add-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  .add-button {
    width: 80px;
    height: 80px;
    background-image: url('https://res.cloudinary.com/dqrkw1z1a/image/upload/v1583327610/ROAM/output-onlinepngtools_12_o1eerw.png');
    background-size: contain;
    background-color: #ebf9fa00;
    margin: 5px 20px 0 20px;
    border: none;
    border-radius: 10px;
  }

  .trip-header {
    color: $navbar;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .dest-header {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
  }

  .index-h1 {
    margin-top: 80px;
  }

  .delete-button {
    margin-top: 30px;
    color: red;
    border: none;
    font-weight: bold;
  }
}
}

.edit-date-container {
  display: flex;
  justify-content: center;

  .edit-dates {
    width: 30%;
    display: flex;
    flex-direction: column;

    button {
      background-color: $yellow;
      border: none;
    }
  }
}

.closed-board-photo {
  height: 200px;
  border: 2px solid white;
  margin: 8px;
}





